fastapi==0.112.2
uvicorn[standard]==0.30.6
email-validator>=2.1.0.post1
beautifulsoup4==4.13.3
pymilvus==2.5.4
umap==0.1.1
umap-learn
pydantic[email]
pydantic-settings
openpyxl
sqlalchemy
pymysql
passlib
pandas
python-dotenv
httpx
python-jose[cryptography]
requests
python-multipart
pydantic_settings


#####
statsmodels==0.14.5