fastapi==0.112.2
uvicorn[standard]==0.30.6
email-validator>=2.1.0.post1
FlagEmbedding>=1.2.10
elasticsearch==7.17.9
milvus
pydantic[email]
pydantic-settings
sqlalchemy
pymysql
passlib
pandas
python-dotenv
httpx
python-jose[cryptography]
requests
python-multipart
pydantic_settings


#####
statsmodels==0.14.5